body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.item-content {
    width: 680px;
    margin: 0 auto;
}
.exhibited__product {
    margin-bottom: 60px;
}
.subtitle {
    font-size: 30px;
    color: #5F5F5F;
    font-weight: bold;
    padding-bottom: 16px;
    border-bottom:1px solid #5F5F5F;
}
label {
    display: flex;
    font-weight: bold;
    font-size: 24px;
}
.placeholder-circle {
    border: 1px dashed #ccc;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 15px;
}
.category-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}
.category-tag {
    display: flex;
    align-items: center;
    border: 2px solid #ff5555;
    color: #ff5555;
    border-radius: 200px;
    padding: 6px 14px;
    font-size: 13px;
    cursor: pointer;
}
.category-tag input {
    display: none;
}
.category-tag:has(input:checked){
    color: #FFFFFF;
    background-color: #FF5655;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='20' fill='%235F5F5F'><polygon points='0,0 18,0 9,14'/></svg>");
    background-repeat: no-repeat;
    background-position: right 14px bottom 8px;
    background-size: 18px 20px;

    width: 100%;
    height: 45px;
    padding:0 35px 0 10px;
    color: #5F5F5F;
    font-size: 14px;
    border: 1.5px solid #B1B1B1;
    border-radius: 5px;
    margin: 10px 0 30px 0;
}
select:focus {
    border-color: #636769; 
    background-color: #636769;
    color: #EAEAEA; 
}
.selected-display {
    margin-top: 8px;
    font-size: 14px;
    border-color: #636769;
    background-color: #636769;
    color: #EAEAEA;
}
input {
    width: 100%;
    height: 45px;
    font-size: 24px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin: 10px 0 30px 0;
    padding-left: 8px;
    color: #000;
}
.exhibited__product textarea{
    width: 100%;
    height: 125px;
    font-size: 24px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    margin: 10px 0 30px 0;
    padding-left: 8px;
    color: #000;
}